// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Karla', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main: #4D243D;

// Colors
$blue: $main;
$indigo: #215b9c;
$purple: #4d244d;
$pink: #8a2066;
$red: #c22222;
$orange: #855a28;
$yellow: #c2b329;
$green: #3d852b;
$teal: #2e864c;
$cyan: #244d4d;
