// Fonts
@import url("https://fonts.googleapis.com/css?family=Karla");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "tagin";

div.question,
div.answer {
    padding: 20px;
    border: 1px solid rgba($blue, 0.4);
    border-radius: 10px;
}

span.c-green {
    color: $green;
}

p.center,
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
    text-align: center;
}
