// Fonts
@import url("https://fonts.googleapis.com/css?family=Karla");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

div.question {
    padding: 20px;
    border: 1px solid rgba($blue, 0.4);
    border-radius: 10px;
}

a:hover div.question {
    background-color: rgba(black, 0.015);
}

a.regularText:hover {
    text-decoration: none !important;
}
